#contentApp {
    padding-top: 50px;
    padding-bottom: 300px;
    background-color: rgb(245, 244, 248);

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 auto;
    width: 65%; 
    max-width: 1000px;
}

.content {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.postImage {
    width: 100%;
    height: 100%;
}